
/* GRID CSS */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "header" /* refer to Header.css file */
  "content"
  "footer" /* refer to Footer.css file*/
}

.content {
  grid-area: content;
  display: grid;
  align-items: start;
}